/* main page */
.main-banner {position: relative;height:calc(100% - 50px);min-height:700px;box-sizing: border-box;background-position: center; background-size: cover;
	background-image: url('../img/sample02.jpg'); background-repeat: no-repeat;}
.main-banner .cont {font-size:28px;line-height:40px;position:absolute;left:0;top:50%;transform: translateY(-50%);
	width:100%;box-sizing: border-box;padding:0 20px;}

.main-list {margin-top: 30px; padding: 0 20px;}
.main-list .item {margin-bottom: 20px;}
.main-list .item:last-child {margin-bottom: 0;}
.main-list .item a {display: block; width: 100%; height: 56vw; background-position: center; background-size: cover; background-repeat: no-repeat;}
.main-list .item.img01 a {background-image: url('../img/sample04.jpg');}
.main-list .item.img02 a {background-image: url('../img/sample01.jpg');}
.main-list .item.img03 a {background-image: url('../img/sample03.jpg');}

@media (min-width: 780px) {
	.main-banner {height:calc(100% - 70px);}
	.main-banner .cont {padding:0 40px;}

	.main-list {margin-top: 40px; padding: 0 40px;}
	.main-list .item {display: inline-block; width: 48.5%; margin-left: 3%; margin-right: -4px; margin-bottom: 3%; vertical-align: top;}
	.main-list .item:nth-child(odd) {margin-left: 0;}
	.main-list .item a {position: relative; height: 30vw; max-height: 500px; z-index: 2;}
	.main-list .item a::after {content: ''; position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 1; background: #000; opacity: 0;  
		transition: opacity 0.3s;}
	.main-list .item:hover a::after {opacity: 0.24;}
}

@media (min-width: 1080px) {
	.main-banner {height:calc(100% - 81px);}
	.main-banner .cont {margin-top:-25px;font-size:38px;line-height:50px;}

	.main-list .item {width: 49%; margin-left: 2%; margin-bottom: 2%;}
}

/* about page */
.about-me {padding: 30px 20px;}
.about-me .about-img {width: 100%; height: 50vw; background-position: center; background-size: cover; background-repeat: no-repeat; 
	background-image: url('../img/sample05.jpg');}
.about-me .about-list {margin-top: 40px;}
.about-me .about-list h2 {margin: 20px 0; color: #0049B7; font-size: 16px; line-height: 24px; text-align: center; text-decoration: underline; font-weight: bold;}
.about-me .about-list table + h2 {margin-top: 50px;}
.about-me .about-list table {max-width: 600px; margin: 0 auto; font-size: 14px;}
.about-me .about-list table td {padding: 6px; box-sizing: border-box; vertical-align: top; word-break: break-word;}
.about-me .about-list table td:first-of-type {min-width: 100px;}
.about-me .about-list table td:first-of-type p {font-weight: bold;}

@media (min-width: 780px) {
	.about-me .about-img {width: 70vw; height: 46vw; max-width: 800px; max-height: 500px; margin: 50px auto;}
}

@media (min-width: 1080px) {
	.about-me .about-list h2 {font-size: 18px;}
	.about-me .about-list table {font-size: 16px;}
	.about-me .about-list table td {padding: 8px;}
	.about-me .about-list table td:first-of-type {min-width: 130px;}
}